*
!README.md
!.gitignore
!.xonshrc
!/.config/atuin/config.toml
!/.config/rio/config.toml
!/.config/tmux/tmux.conf
!/.config/starship.toml

!/xontrib
!/xontrib/*
!/xontrib/yaml/
!/xontrib/yaml/*
!/xontrib/yaml/tempo/**/*
!/xontrib/yaml/templates/**/*
!/xontrib/yaml/derivatives/**/*