*
!README.md
!.gitignore
!.xonshrc
!.commonrc
!.zshrc
!.bashrc
!.zprofile
!.bash-preexec.sh
!/.config/atuin/config.toml
!/.config/rio/config.toml
!/.config/rio/themes/vesper.toml
!/.config/tmux/tmux.conf
!/.config/starship.toml
!/.config/btop/btop.conf
!/.config/kitty/
!/.config/kitty/*
!/.config/kitty/themes/vesper.conf
!/.config/nvim/**/*

!/xontrib
!/xontrib/*
!/xontrib/yaml/
!/xontrib/yaml/*
!/xontrib/yaml/tempo/**/*
!/xontrib/yaml/templates/**/*
!/xontrib/yaml/derivatives/**/*
!/xontrib/yaml/resource-quota/**/*
!/xontrib/yaml/users/**/*
!/xontrib/yaml/loki/**/*
!/xontrib/yaml/korrel8r/**/*
!/xontrib/yaml/kepler/**/*
!/xontrib/yaml/cluster-logging/**/*
