*
!README.md
!.gitignore
!.xonshrc
!.commonrc
!.zshrc
!.bashrc
!.zprofile
!.bash-preexec.sh
!/.config/atuin/config.toml
!/.config/rio/config.toml
!/.config/tmux/tmux.conf
!/.config/starship.toml
!/.config/btop/btop.conf
!/.config/kitty/kitty.conf

!/xontrib
!/xontrib/*
!/xontrib/yaml/
!/xontrib/yaml/*
!/xontrib/yaml/tempo/**/*
!/xontrib/yaml/templates/**/*
!/xontrib/yaml/derivatives/**/*