[user]
	email = pyurkovi@redhat.com
	name = PeterYurkovich
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true

