apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
stringData:
  region: {{ region }}
  bucketnames: {{ bucket_names }}
  bucket: {{ bucket_name }}
  access_key_id: {{ access_key_id }}
  access_key_secret: {{ access_key_secret }}
  endpoint: {{ endpoint }}
type: s3